<body>
<div id="DivDetails">
    <span><a href="/">Back</a></span>
    <h1>{{name}}</h1>
    <h3>{{version}}</h3>
    <p v-if="description">{{description}}</p>
    <p v-if="!description">-</p>

    <div id="DivSentences">
        <h3>Sätze</h3>
        <p>Teste folgende Sätze: </p>
        <ul>
            <li v-for="sentence in sentences" v-html="sentence"></li>
        </ul>

        <div id="DivSlots">
            <div v-for="(slot, name) in slots">
                <h4>{{name}}</h4>
                <ul>
                    <li v-for="alt in slot">{{alt}}</li>
                </ul>
            </div>
        </div>
    </div>

    <div v-for="option in options">
        <label :for="'I'+option.name">{{option.name}}: </label>
        <input :id="'I'+option.name" :type="typeMap[option.type]" v-model="reqBody[option.name]" :placeholder="option.value"/>
    </div>

    <button v-if="options.length > 0" v-on:click="send(name)">Absenden</button>

    <button v-if="!active" v-on:click="setActive(name, true)">Aktivieren</button>
    <button v-if="active" v-on:click="setActive(name, false)">Deaktivieren</button>
</div>

<script src="https://unpkg.com/vue@next"></script>
<script>
    Vue.createApp({
        data() {
            let typeMap = {
                "String": "text",
                "Number": "number",
                "Boolean": "checkbox"
            };

            let slots = data.slots;
            let sentences = [];

            for (let i in data.sentences){
                let sentence = data.sentences[i];

                let matches = sentence.match(/{[a-zA-Z]+}/g);
                for (let i in matches){
                    let slotName = matches[i].substr(1, matches[i].length - 2);
                    let slot = slots[slotName] || [];
                    let example = slot[Math.floor(Math.random()*slot.length)] || "";

                    sentence = sentence.replace(matches[i], `<strong>${example}</strong> <span>${slotName}</span>`);

                }

                sentences.push(sentence)
            }

            return {
                name: data.name,
                version: data.version,
                description: data.description,
                active: data.active,
                sentences: sentences,
                slots: slots,
                options: data.options,
                typeMap: typeMap,
                reqBody: []
            };
        },
        methods: {
            send: function (skillName){
                fetch(`${window.location.origin}/edit/${skillName}`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(Object.assign({}, this.reqBody))
                    })
                    .then(res => res.json())
                    .then(data => {
                        alert(data.message);
                        location.reload();
                    }).catch(data => {
                        alert(data.message);
                        location.reload();
                    });
            },
            setActive: function (skillName, state){
                fetch(`${window.location.origin}/setActive/${skillName}/${state}`)
                    .then(res => res.json())
                    .then(data => {
                        alert(data.message);
                        location.reload();
                    }).catch(data => {
                        alert(data.message);
                        location.reload();
                    });
            }
        }
    }).mount("#DivDetails");
</script>
</body>