<body>
<div id="DivDetails">
    <span><a href="/">Back</a></span>
    <h1>{{name}}</h1>
    <h3>{{version}}</h3>
    <p>{{description}}</p>

    <button v-if="!active" v-on:click="setActive(name, true)">Aktivieren</button>
    <button v-if="active" v-on:click="setActive(name, false)">Deaktivieren</button>

    <ul>
        <li v-for="sentence in sentences">{{sentence}}</li>
    </ul>

        <div v-for="option in options">
            <label :for="'I'+option.name">{{option.name}}: </label>
            <input :id="'I'+option.name" :type="typeMap[option.type]" v-model="reqBody[option.name]" :placeholder="option.value"/>
        </div>

        <button v-if="options.length > 0" v-on:click="send(name)">Absenden</button>


</div>

<script src="https://unpkg.com/vue@next"></script>
<script>
    Vue.createApp({
        data() {
            let typeMap = {
                "String": "text",
                "Number": "number",
                "Boolean": "checkbox"
            };

            return {
                name: data.name,
                version: data.version,
                description: data.description,
                active: data.active,
                sentences: data.sentences,
                options: data.options,
                typeMap: typeMap,
                reqBody: []
            };
        },
        methods: {
            send: function (skillName){
                fetch(`${window.location.origin}/edit/${skillName}`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(Object.assign({}, this.reqBody))
                    })
                    .then(res => res.json())
                    .then(data => {
                        alert(data.message);
                        location.reload();
                    }).catch(data => {
                        alert(data.message);
                        location.reload();
                    });
            },
            setActive: function (skillName, state){
                fetch(`${window.location.origin}/setActive/${skillName}/${state}`)
                    .then(res => res.json())
                    .then(data => {
                        alert(data.message);
                        location.reload();
                    }).catch(data => {
                        alert(data.message);
                        location.reload();
                    });
            }
        }
    }).mount("#DivDetails");
</script>
</body>