<body>
<div id="DivDownload">
    <div v-for="skill in skills" class="DivSkillCard">
        <p>{{skill.name}}</p>
        <button v-if="!skill.installed" v-on:click="download(skill.name)">Herunterladen</button>
    </div>
</div>

<script src="https://unpkg.com/vue@next"></script>
<script>
    Vue.createApp({
        data() {
            return {
                skills: data.skills
            }
        },
        methods: {
            download: function (skillName){
                fetch(`${window.location.origin}/download/${skillName}`)
                    .then(res => res.json())
                    .then(data => {
                        alert(data.message);
                        location.reload();
                    }).catch(console.error);
            }
        }
    }).mount('#DivDownload');
</script>
</body>