<body>
<div id="DivDownload">
    <div v-for="skill in skills" class="DivSkillCard">
        <p>{{skill.name}}</p>
        <p>{{skill.latest}}</p>
        <div>
            <select v-model="skill.selected">
                <option v-for="version in skill.versions" v-bind:disabled="skill.installed.includes(version)">{{version}}</option>
            </select>
        </div>
        <button type="button" v-bind:disabled="skill.installed.includes(skill.selected)"  v-on:click="download(skill.name, skill.selected)">Herunterladen</button>
    </div>
</div>

<script src="https://unpkg.com/vue@next"></script>
<script>
    Vue.createApp({
        data() {
            let skillData = data.skills;
            for (let i in skillData){
                skillData[i].selected = skillData[i].latest;
                skillData[i].versions = skillData[i].versions.reverse();
            }

            return {
                skills: skillData
            }
        },
        methods: {
            download: function (skillName, version){
                fetch(`${window.location.origin}/download/${skillName}/${version}/`)
                    .then(res => res.json())
                    .then(data => {
                        alert(data.message);
                        location.reload();
                    }).catch(console.error);
            }
        }
    }).mount('#DivDownload');
</script>
</body>