#DivOverview{
    display: flex;
    flex-direction: column;
    justify-self: stretch;
    text-align: center;
    background: var(--col-bg-primary);
    color: var(--col-text-light);
    padding: 2rem;
}

#UlInstalledSkills{
    text-align: center;
    background: var(--col-bg-secondary);
    color: var(--col-text-light);
    padding: .5rem;
    font-size: 1.2rem;
    border: 1px solid var(--col-bg-secondary);
    border-radius: .5rem;
    width: 100%;
    table-layout: fixed;
}

#DivOverview th {
    font-size: 1.5rem;
}

#ThName {
    width: 20%;
}

#ThDescription {
    width: 50%;
}

#ThVersion {
    width: 10%;
}

#ThActive {
    width: 10%;
}

#ThDelete {
    width: 10%;
}

.clippedText {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}

#DivOverview a{
    color: var(--col-text-light);
}

#DivOverview a:link:active, #DivOverview a:visited:active {
    color: var(--col-text-light);
}
