src/client/node_modules
src/client/.env
src/client/skillConfigs.json
src/client/skillmanager.service
src/server/node_modules
src/server/.env
src/discord_client/.env
src/discord_client/node_modules
src/sdk/node_modules