
html {
    position: relative;
    min-height: 100%;
  }
  body {
    padding-top: $navbar-height + $navbar-margin-bottom;
    margin-bottom: 46px;
  }
  
  .navbar-brand{
    img{
      margin: -$navbar-padding-vertical 0;
      height: $navbar-height;
      padding: 10px 0;
    }
  }
  
  .landing {
    background: url('../img/bg.jpg') no-repeat 80% 0;

  }
  
  .header-container {
    background-color: black;
    background-color: rgba(255, 255, 255, 0.5);
    background: url('../img/bg.jpg') no-repeat 80% ;
    color: rgb(0, 0, 0);
    h1 {
      color: #000;
      background-color: rgb(255, 255, 255);
      background-color: rgba(255, 255, 255, 0.5);
  
    }

    background-attachment: fixed;
    background-size: 100%;
    background-position: 0%;
    //margin-top: -37px;
  }
  .navbar-container {
    font-size: 16px;
  }
  .page-content {
    padding-bottom: 20px;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;    
    padding-top: 10px;
    background-color: $gray-lighter;
    color: $gray-dark;
  }
  
  .post-list-container {
    li a.active {
      font-weight: bold;
    }
  }
  *[id]:before {
    display: block;
    content: " ";
    margin-top: -75px;
    height: 75px;
    visibility: hidden;
  }
  .navbar-form .has-feedback .form-control-feedback{
    top:10px
  }
  