
html {
    position: relative;
    min-height: 100%;
  }
  body {
    padding-top: $navbar-height + $navbar-margin-bottom;
    margin-bottom: 46px;
  }
  
  .navbar-brand{
    img{
      margin: -$navbar-padding-vertical 0;
      height: $navbar-height;
      padding: 10px 0;
    }
  }
  
  .landing {
    background: url('../img/bg.jpg') no-repeat 80% 0;

  }
  
  .header-container {
    background-color: rgb(8, 26, 56);
    background-color: rgba(212, 226, 255, 0.5);
    background: url('../img/background.jpg') no-repeat 80%;
    color: rgb(8, 26, 56);
    h1 {
      color: rgb(8, 26, 56);
      background-color: rgb(212, 226, 255);
      background-color: rgba(212, 226, 255,0.5);
      text-indent: 2%;
    }

    background-attachment: fixed;
    background-size: 80%;
    background-position: center;
    margin-top: -20px;
  }
  .navbar-container {
    font-size: 16px;
  }
  .page-content {
    padding-bottom: 20px;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;    
    padding-top: 10px;
    background-color: $gray-lighter;
    color: $gray-dark;
  }
  
  .post-list-container {
    li a.active {
      font-weight: bold;
    }
  }
  *[id]:before {
    display: block;
    content: " ";
    margin-top: -75px;
    height: 75px;
    visibility: hidden;
  }
  .navbar-form .has-feedback .form-control-feedback{
    top:10px
  }
  